{% extends "base.html" %}
{% load static %}

{% block page_title %}
{{post.title}}
{% endblock page_title %}

{% block css_styles %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock css_styles %}

{% block content %}

{% if comment_form.errors %}
    <div class="alert">
        <h2>Saving the comment failed!</h2>
        <p>Please check the comment below and correct it</p>
        <a href="#comment_form">Fix it</a>
    </div>
{% endif %}
<section id="summary">
    <h2>{{post.title}}</h2>
    <div>
    {% for tag in post_tags %}
        <span class="tag">{{tag.caption}}</span>
    {% endfor %}
    </div>
    <article>
        <img src="{{ post.image.url }}" alt="Post Title"/>
        <address>By <a href="mailto:{{post.author.email}}">{{post.author}}</a></address>
        <div>
            Last updated on <time>{{post.date | date:"d M Y"}}</time>
        </div>
    </article>
</section>



<main>
    {{post.content | linebreaks}}
</main>


<section id="comments">
    <h2>All Comments</h2>
    <ul>
        {% for comment in comments  %}
            <li>
                <span> <b>{{comment.user_name}}</b> at {{comment.user_email}}</span>
                <p>{{comment.text | linebreaks}}</p>
            </li>
        {% endfor %}
    </ul>
</section>
<form action="{% url "post-detail-page" post.slug %}" id="comment_form" method="POST">
    <h2>YOUR COMMENT</h2>
    {% csrf_token %}
    
    {% for form_fields in comment_form %}
        <div class="form-control {% if form_fields.errors %} invalid {% endif %}">
            {{form_fields.label_tag}}
            {{form_fields}}
            {{form_fields.errors}}
        </div>
    {% endfor %}
    <div class="flex_cont">
        <button>Save comment</button>
    </div>
</form>

{% endblock content %}